<section id="navigation">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Mongo Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
    	  <li class="nav-item">
			    <a class="nav-link" href="/saved">Saved Articles <span class="sr-only">(current)</span></a>
    	  </li>
			  <li class="nav-item">
			    <a class="btn btn-danger btn-margin-left text-light" id="clear-saved">Clear Articles!</a>
			  </li>
      </ul>
    </div>
  </nav>
</section>  
<section class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="title-holder">
      <h1 class="title">Mongo Scraper</h1>
      <p class="sub-title">K-LOVE Saved Articles</p>
    </div>
  </div>
</section>
<section class="news-cards">
  <br>
  <ul>
    {{> articles/article-block2}}
  </ul>
</section>

