.btn-margin-left {
    margin-left: 10px;
}

.btn-margin-right {
    margin-right: 10px;
}

.jumbotron {
    background: url("../images/newspaper-and-phone-688x308.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 25rem;
    text-align: center;
}

.title-holder {
    background-color: black;
    opacity: .5;
    width: 100%;
    height: 100%;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-top: 3rem;
}

.sub-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bold;
    color: white;
}