{{#each notes}}
  <li class="list-group-item" id="noteArea{{this._id}}">
    <p id="noteGoesHere" class="float-left">{{this.noteBody}}</p>
    <button class="small-button float-right note-delete" id="{{this._id}}">x</button>
  </li>
{{/each}}
